@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: var(--primary-color--);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;    
}
#icon{
  width: 30px;
  cursor: pointer;
  margin-bottom: -5px;
  margin-left: 20px;
  border-radius: 10px;
}

:root{
  --primary-color--:beige;
  --secondary-color--:burlywood;
  --primary-color-hover--:brown;
  --ternary-color:white;
  --quadruple--color:blue;
  --fifth-color:rgb(41, 9, 102);
  --sixth-color:black;
  --seventh-color:navy;
  --eighth--color:#4CAF50;
  --ninth--color:#3e8e41;                                       
}

.dark-theme{
  --primary-color--:brown;
  --secondary-color--:rgb(223, 161, 80);
  --primary-color-hover--:beige;
  --ternary-color:black;
  --quadruple--color:rgb(33, 89, 241);
  --fifth-color:rgb(105, 44, 219);
  --sixth-color:white;
  --seventh-color:rgb(117, 117, 138);
  --eighth--color:#3e8e41;
  --ninth--color:#4CAF50; 
}


.logo {
  text-decoration: none;
  color: var(--secondary-color--);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a {
  color:var(--secondary-color--);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: var(--primary-color-hover--);
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(imagesforwebsite/images/Personalimageforweb2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: var(--ternary-color);
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--quadruple--color);
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: var(--ternary-color);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: var(--ternary-color);
  background-color: var(--quadruple--color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: var(--fifth-color);
  transform: scale(1.1);
}

.social-icons a {
  color: var(--ternary-color);
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--quadruple--color);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
    background-color: var(--ternary-color);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
    
}

.icon{
    color: var(--quadruple--color);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: var(--quadruple--color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p{
  color: var(--sixth-color);
}

.projects{
    background-color:var(--primary-color--);
}

.projects.content{
    margin-top: 30px;
}

.project-card{
    background-color: var(--ternary-color);
    border: 1px solid var(--primary-color--);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover.project-image{
   opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-info span{
  color: var(--sixth-color);
}

.project-category{
    font-size: 0.8em;
    color: var(--sixth-color);
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: var(--quadruple--color);
}

.more-details:hover{
    color:var(--seventh-color);
}

.contact.icon{
  font-size: 4.5em;
}

.contact.info h2{
  color: var(--sixth-color);
}

.contact.info p{
  font-size: 1.5em;
}

.footer{
  background-color: var(--sixth-color);
  color: var(--ternary-color);
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

footer p{
  margin-top: 0.5em;
}

.footer.title{
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span{
  color: var(--seventh-color);
}

.footer.social-icons a{
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

footer form{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

footer form label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  color: var(--ternary-color);;
}

footer form input[type="email"] {
  padding: 8px 10px;
  border: 0.5px solid var(--ternary-color);;
  border-radius: 1em;
  font-size: 16px;
}

footer form button[type="submit"] {
  padding: 8px 16px;
  background-color: var(--eighth--color);
  color: var(--ternary-color);;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

footer form button[type="submit"]:hover {
  background-color:var(--ninth--color);
}

@media (max-width:1023px){
  header{
    padding: 12px 20px;
  }

  .navigation a{
    padding-left: 10px;
  }

  .title{
    font-size: 1.8em;
  }

  .section{
    padding: 80px 20px;
  }

  .main-content h2{
    font-size: 1em;
  }

  .main-content h3{
    font-size: 1.6em;
  }

  .content{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px){
  body{
    font-size: 12px;
  }

  .main-content h2{
    font-size: 0.8em;
  }

  .main-content h3{
    font-size: 1.4em;
  }
}

@media (max-width: 300px){
  body{
    font-size: 10px;
  }
  .footer{
    display: flex;
  }
}
